#finishButtonDiv{
	text-align: center;
	margin-top: 1%;
}

#difficultButtonDiv{
	text-align: center;
	margin-top: 1%;
}

#historyListDiv{
	margin-top: 1%;
	overflow: scroll;
	height: 90%;
}

#historyListDiv a{
	display: inline;
}

#newGameButtonDiv{
	text-align: center;
	margin-top: 2%;
}
#scoreDiv{
	text-align: center;
}