#options{
	height: 30%;
	background-color: rgb(204, 255, 152);
	margin-top: 20%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 29px 29px 29px 29px;
	-moz-border-radius: 29px 29px 29px 29px;
	-webkit-border-radius: 29px 29px 29px 29px;
	border: 2px solid #000000;

}

#finishButtonDiv{
	text-align: center;
	margin-top: 1%;
}

#difficultButtonDiv{
	text-align: center;
	margin-top: 1%;
}

#historyListDiv{
	margin-top: 1%;
	overflow: scroll;
	height: 90%;
}

#historyListDiv a{
	display: inline;
}

#newGameButtonDiv{
	text-align: center;
	margin-top: 2%;
}
#scoreDiv{
	text-align: center;
}
#directions{
	text-align: center;
}